.red_button{
	background-color: #84CC7A !important;
}
.delete_button{
	background-color: #cc2626 !important;
}
.content_inner{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.content_inner input{
	width: 100%;
}
.login_error{
	background: rgb(202, 60, 60);	
	width: 190px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border-radius: 7px;
	margin-top: 10px;
	display: none;
}
.table_legend{
	color: white;
}
.form_overview{
	text-align: left;
}
.breadcrumbs{
	padding-bottom: 15px;
	font-weight: bold;
}
.column_id{
	width: 30px;
}
.column_id input{
	width: 30px;
}
.save_message{
	display: none;
}
.table_actions{
	width: 13% !important;
}
.form_overview thead tr th:first-child{
	width: 200px;
}
table .column-id {
	width: 50px !important;
}
.pure-button-small{
	margin-left:5px;
}